<h2> ======================================================</h2>
 <h1>MA477 - Theory and Applications of Data Science</h1> 
  <h1>Homework 2: Pandas</h1> 
 
 <h4>Dr. Valmir Bucaj</h4>
 <br>
 United States Military Academy, West Point, AY20-2
<h2>=======================================================</h2>

<h2> Weight: <font color='red'>50pts</font</h2>

<hr style="height:3.2px;border:none;color:#333;background-color:#333;" />

<h3> Cadet Name:</h3>
<br>
<h3>Date: </h3>

<br>

<font color='red' size='3'> MR MY DOCUMENTATION IDENTIFIES ALL SOURCES USED AND ASSISTANCE RECEIVED IN THIS ASSIGNMENT
<br>

<b>$\dots \dots$ </b> I DID NOT USE ANY SOURCES OR ASSISTANCE REQUIRING DOCUMENATION IN COMPLETING THIS ASSIGNMENT</font>

<h3> Signature/Initials: Megan Raftery

<hr style="height:3px;border:none;color:#333;background-color:#333;" />


<font size='4'>Complete the following tasks:</font>

<hr style="height:2px;border:none;color:#333;background-color:#333;" />

<h4> Import Pandas and Numpy</h4>

<font color='red'>5pts</font>

In [3]:
#Enter your code here
import pandas as pd
import numpy as np

<h4>Read-in the file named <font color='red'>Airbnb_Dataset</font> and assign it to a variable names <font color='red'>abnb</font></h4>(Make sure that the file is in the same folder as your Homework2 JupyterNotebook)

<font color='red'>5pts</font>

In [7]:
abnb=pd.read_csv('AB_NYC_2019.csv')

<h4> Show the head of the dataframe</h4>

<font color='red'>5pts</font>

In [8]:
#Your code goes here
abnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

<h4> Find how many different neighborhoods are there in Manhattan and list all of them? </h4>

<font color='red'>5pts</font>

In [9]:
#Answer for number of different neighborhoods in Manhattan
ans = abnb[(abnb['neighbourhood_group']=='Manhattan')]
ans['neighbourhood'].nunique()

32

In [10]:
#Your answer for the list of all different neighborhoods in Manhattan
ans['neighbourhood'].unique()

array(['Midtown', 'Harlem', 'East Harlem', 'Murray Hill',
       "Hell's Kitchen", 'Upper West Side', 'Chinatown', 'West Village',
       'Chelsea', 'Inwood', 'East Village', 'Lower East Side', 'Kips Bay',
       'SoHo', 'Upper East Side', 'Washington Heights',
       'Financial District', 'Morningside Heights', 'NoHo',
       'Flatiron District', 'Roosevelt Island', 'Greenwich Village',
       'Little Italy', 'Two Bridges', 'Nolita', 'Gramercy',
       'Theater District', 'Tribeca', 'Battery Park City', 'Civic Center',
       'Stuyvesant Town', 'Marble Hill'], dtype=object)

<h4> How many different shared rooms are listed?</h4>

<font color='red'>5pts</font>

In [19]:
#Your answer
abnb['room_type'].value_counts()

Entire home/apt    25409
Private room       22326
Shared room         1160
Name: room_type, dtype: int64

<h4> Find all the listings of room type <font color='red'> Shared rooms</font> in <font color='red'> Manhattan</font> with a price range of <font color='red'> \$60$-$\$75</font> and that have received over <font color='red'>100 reviews</font></h4>

<font color='red'>10pts</font>

In [28]:
#Enter your answer here
abnb[(abnb['price']>=60)&(abnb['price']<=75)&(abnb['neighbourhood_group']=='Manhattan')&(abnb['room_type']=='Shared room')&(abnb['number_of_reviews']>=100)]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
357,99070,Comfortable Cozy Space in El Barrio,522065,Liz And Melissa,Manhattan,East Harlem,40.79406,-73.94102,Shared room,65,7,131,2019-05-26,1.31,2,0
2787,1526741,Comfy Couch in a nice and safe apt!!,6486116,Ari,Manhattan,East Harlem,40.79004,-73.94846,Shared room,69,1,136,2019-04-04,2.13,4,103
4229,2774934,Females only for midtown apt share,1866728,Jeani,Manhattan,Upper West Side,40.77024,-73.98746,Shared room,70,1,225,2019-07-07,3.53,1,262
6055,4431247,1st Time/Solo/Duo Travelers!Charming Studio Sh...,22382732,Sue,Manhattan,Chelsea,40.74726,-74.00213,Shared room,70,2,126,2019-06-29,2.61,1,309
7652,5763191,"BEAUTIFUL APT UPPER WEST SIDE, 68St ONLY GIRLS",29901463,Nadia,Manhattan,Upper West Side,40.77260,-73.97928,Shared room,68,3,105,2019-06-23,2.09,1,302
11038,8525172,Shared Studio (NO PRIVACY) On The Upper East Side,44887928,Brianna,Manhattan,Upper East Side,40.78510,-73.95254,Shared room,62,1,104,2019-06-23,2.26,1,333
17818,13971471,Nice Room in Charming Apartment,8338942,Victor,Manhattan,Nolita,40.72363,-73.99546,Shared room,70,1,228,2019-06-21,6.36,4,103
31517,24539281,43rd Street “TIME SQUARE”\nSingle bed.,30985759,Taz,Manhattan,Hell's Kitchen,40.75792,-73.99172,Shared room,65,1,108,2019-06-23,7.33,6,325
35014,27759146,Cozy corner near Empire State Building,209549523,Mariluz,Manhattan,Midtown,40.74858,-73.98341,Shared room,62,1,112,2019-06-13,10.77,3,0

<h4> Find the <font color='red'>minimum</font>, <font color='red'>maximum</font>, and <font color='red'>average</font> values for both <font color='red'>price</font> and <font color='red'> number of reviews</font> for the listings in each of the different neighbourhoods of Manhattan</h4>

<font color='red'>5pts</font>

In [66]:
#Your answer
ans.groupby(by='neighbourhood').agg({'price':[np.max,np.min,np.std],'number_of_reviews':[np.max,np.min,np.std]})

                     price                  number_of_reviews
                      amax amin         std              amax amin        std
neighbourhood
Battery Park City    7500   55   974.671043  205               0    26.936933
Chelsea              6800   12   331.934759  375               0    42.548253
Chinatown            1500   41   128.672260  318               0    43.502104
Civic Center         950    50   146.714397  319               0    44.670416
East Harlem          9999   30   314.802327  325               0    51.751879
East Village         3750   10   198.708649  451               0    49.196771
Financial District   3000   12   168.425509  285               0    23.274267
Flatiron District    2000   65   345.657831  177               0    35.325877
Gramercy             3000   45   257.566843  323               0    42.621756
Greenwich Village    6000   43   434.838926  209               0    31.120976
Harlem               5000   10   155.994691  607               0    51.197221
Hell's Kitchen       4100   10   191.228217  430               0    49.010423
Inwood               359    22   53.232083   261               0    35.609988
Kips Bay             2750   10   199.291739  276               0    27.499193
Little Italy         5250   41   481.049144  219               0    44.696559
Lower East Side      9999   29   478.660480  540               0    52.219668
Marble Hill          274    40   65.579699   85                0    25.480831
Midtown              5100   30   255.327718  275               0    30.374168
Morningside Heights  1200   30   89.587569   233               0    27.911533
Murray Hill          2000   0    156.407679  321               0    25.968131
NoHo                 1795   75   218.199593  115               0    21.320337
Nolita               5000   20   371.634667  244               0    38.938277
Roosevelt Island     1400   30   157.728815  178               0    29.461347
SoHo                 3000   10   305.660378  228               0    34.591627
Stuyvesant Town      1500   45   245.114461  150               0    24.986122
Theater District     3000   40   258.218865  330               0    41.550453
Tribeca              8500   60   856.341720  447               0    37.763486
Two Bridges          320    35   60.503597   223               0    45.512675
Upper East Side      7703   10   286.712194  389               0    35.563626
Upper West Side      10000  10   395.198479  401               0    39.879433
Washington Heights   1000   16   69.126621   307               0    36.722745
West Village         4000   50   275.837779  272               0    37.080293

<h2><font color='red'>Challenging!!!</font></h2>

<br>

Find all the listings that have any version (upper case, lower case, mix etc.) of the following two phrases <b> Females Only</b> and <b> Comfy Couch</b> in the <font color='red'>name</font> column of the <b> abnb</b> dataframe. Display only the <b>id, name, host_name, price,</b> and <b> neighbourhood_group</b>

<font color='red'>10pts</font>

In [43]:
#Don't change this
pd.set_option('display.max_colwidth', -1)

In [71]:
#Your answer goes here

abnb_strings = abnb.loc[abnb.name.str.contains('comfy couch|females only', na=False,case=False)]

abnb_strings[['id','name','host_name','price','neighbourhood_group']]

#https://stackoverflow.com/questions/51026771/python-case-insensitive-in-a-string-or-case-ignore
#https://stackoverflow.com/questions/37011734/pandas-dataframe-str-contains-and-operation

,id,name,host_name,price,neighbourhood_group
2787,1526741,Comfy Couch in a nice and safe apt!!,Ari,69,Manhattan
4229,2774934,Females only for midtown apt share,Jeani,70,Manhattan
7704,5824543,Private room for 2 (10 min to city) - Females only,Qasim,80,Bronx
13418,10057854,Room in LIC - females only please,Justyna,35,Queens
14140,10853955,"Sunny, private room; Quick to NYC. Females only.",Jennifer,50,Queens
14524,11442670,Females Only Private Room JFK 1Omin,Annett And Chuck,40,Queens
15322,12274909,Beautiful spacious bedroom BayRidge FEMALES only,Carol,35,Brooklyn
15882,12847720,"Prime location, close to everything. Females only",David,50,Manhattan
16254,13100277,"Bright, inviting room-quick to NYC, females only.",Jennifer,70,Queens
16552,13256651,Large Comfy Couch in South Prospect Park,Marie,46,Brooklyn
19392,15476467,Large Space and Comfy Couch in New Apartment,Aleisha,75,Manhattan
20719,16425205,Room for rent (females ONLY),Chioma,40,Bronx
21323,16974219,Big Room with Queen Bed&Comfy Couch,Liam,60,Queens
21813,17531493,Cute Room in Upper West Side (FEMALES ONLY),Ana,75,Manhattan
22031,17728208,Bright and Clean One Bedroom - Females Only!,Alexi,100,Manhattan
22583,18269285,Prime Midtown East Queen Bedroom-Females only,Charlotte,99,Manhattan
23326,18888585,1 bedroom in 4 BR 1 bath Apt females only,Annette,50,Brooklyn
24336,19593009,"Simple Cost-friendly Private Room, FEMALES ONLY",Amanda,29,Bronx
24634,19801310,Bedroom with Manhattan view (females only),Xinyan,60,Manhattan
24927,19979480,1 Room in Bushwick *Females only*,Brooke,32,Brooklyn
25948,20724115,*FEMALES ONLY* BEAUTIFUL ROOM in downtown NYC!,Michela,80,Manhattan
26135,20844580,"Pretty 1 bedroom apt, Williamsburg/ Females only",Michelle,55,Brooklyn
27902,21844040,Comfy Couch in Cool Modern Brooklyn (BUSHWICK) Apt,Lauren,43,Brooklyn
28388,22048265,Luxurious Brooklyn Getaway - Comfy Couch & Sofabed,Joycelyn,29,Brooklyn
28425,22065495,Huge bedroom in a renovated apt (females only!),Eliana,65,Manhattan
29020,22328689,Private room in GREENPOINT(hosting females only),Lina,95,Brooklyn
29520,22658582,Comfy couch in Manhattan!,Sofia,30,Manhattan
30313,23433996,Spacious Room Close to Manhattan (Females Only),Bettina,100,Queens
31064,24105281,Clean Private room in Manhattan(females only),Aki,90,Manhattan
31095,24133060,A futon in a beautiful studio for females only,Maryam,30,Manhattan
31701,24715968,Clean comfy couch -2 blocks from train station,Briane,60,Brooklyn
32269,25237818,East Harlem Room Available (Females Only),Faith,50,Manhattan
38664,30378211,Shared Studio (females only),Meg,110,Manhattan
39674,30886242,Spacious and Bright bedroom (females only!),Eliana,52,Manhattan
40368,31303661,New York Safe Haven (Females Only),Melanie,39,Manhattan
42293,32822356,Manhattan Lifestyle by Melanie (Females Only),Melanie,53,Manhattan
42880,33291866,Angela's Sweet Suite (Shared-Females Only),Angela,35,Manhattan
43204,33514118,Close to city in trendy Queens! Females only,Linda,38,Queens
44479,34255183,2 Bedrooms and a Comfy Couch On Washington,Cathleen,100,Brooklyn

<hr style="height:3px;border:none;color:#333;background-color:#333;" />
<h3> Work Cited</h3>

In [ ]:
Ritchie Ng "Selecting Multiple Rows and Columns",https://www.ritchieng.com/pandas-selecting-multiple-rows-and-columns/
    This website helped me with the pd.loc() function. It taught me that I could simply write ":" in the row argument in order
    to select all of the rows and only certain columns. Without the aid of this website, I would not have been able to complete this problem.
    West Point, NY 27 January 2020.
    
"String Contains and Operation", https://stackoverflow.com/questions/37011734/pandas-dataframe-str-contains-and-operation, I used this website to learn
    about the df.str.contains() function. I learned that I can use this function to find data entries that contain a certain string or phrase and 
    create a new dataframe with the results. Without this website I would not have been able to solve this problem. West Point, NY 27 January 2020.
    
"Case Insensitive in a String or Case Ignore", https://stackoverflow.com/questions/51026771/python-case-insensitive-in-a-string-or-case-ignore,
    I used this website to learn how to include any string containing the desired phrases regardless of capitalization.
    I learned that I can add in the command 'case = False' to achieve my desired goal. West Point, NY 27 January 2020.